*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  --bg-color: #EDF2FF;
  --text-color: #00082f;
  --primary-color: #4263eb;
  --primary-color-dark: #364fc7;
}

body.lingt{
  --bg-color: #EDF2FF;
  --text-color: #00082f;
}

body.dark{
  --bg-color: #00082f;
  --text-color: #ffffff;
}

body.purple{
  --bg-color: #bebbff;
  --text-color: #1f000b;
  --primary-color: #7e17d2;
  --primary-color-dark: #6302d2;
}

body.purple-dark{
  --bg-color: #1b0046;
  --text-color: #ffffff;
  --primary-color: #7e17d2;
  --primary-color-dark: #6302d2;
}

body.green{
  --bg-color: #EDF2FF;
  --text-color: #000000;
  --primary-color: #6fc479;
  --primary-color-dark: #53a55c;
}

a{
  text-decoration: none;
}

body{
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sams-serif;
}

.container{
  text-align: center;
  width: 300px;
  margin: 60px auto auto;
}

img{
  width: 100%;
  border: 1px solid black;
}

img.avatar{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 3.7px;
  border: var(--primary-color) solid 4px;
}

img.icon{
  border-radius: 70%;
  width: 40px;
  height: 40px;
  padding: 3.7px;
  border: solid 0px;
}

h1{
  font-size: 32px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.username{
  font-family: 'Roboto', monospace;
  font-weight: 400;
  opacity: 0.8;
  font-size: 18px;
}

ul{
  list-style: none;
  margin: 48px 0;
}

ul li {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 16px;
  border-radius: 8px;
  transition: background 400ms;
}

ul li:hover{
  background: var(--primary-color-dark);
}

a{
  color: #EDF2FF;
}

footer{
  font-weight: 500;
  font-size: 12px;
  opacity: 0.6;
  transition:  opacity 400ms;
}

footer:hover{
  opacity: 1;
}

footer a{
  color: var(--text-color);
}

.bodyDiv{
  margin: 0 1cm;
  display: flex;
  justify-content: space-between;
}

.curso{
  flex: 1;
  margin: 0 0.5cm;
  text-align: left;
  color: #000000;
}

.lista {
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.item::before {
  content: "•";
  color: black; 
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-right: 0.5em;
}

.marge {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1cm;
}

.linha-horizontal {
  margin-left: 0.2cm;
  margin-right: 0.2cm;
  border: none;
  border-top: 1px solid #000;
  color: black;
}